@import 'tailwindcss';
html,body{
    margin: 0;
    border: 0;
    
}
#home,#login{
    background-image: url('../public/Background.png');
}
h1{
    font-family: "Lemon", serif;
}
nav{
    font-family: "Lemon",serif;
}